@font-face {
  src: url("TimesSquare-m105.ttf");
  font-family: "TimesSquare-m105";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
}

body {
  background: url(basketball-court.jpg) no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 6rem;
  gap: 7rem;
  border-radius: 10px;
  position: relative;
  border: 1px solid #868585;
  backdrop-filter: blur(30px);
}

.emoji {
  font-size: 2rem;
  text-align: center;
}

.container h2 {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.4s ease;
}

.container h2:hover {
  color: #fcd34d;
}

.number {
  background: #000;
  color: #f43f5e;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 10px;
  font-family: "TimesSquare-m105";
  font-size: 5rem;
  border-radius: 5px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.border {
  border: 1px solid #fff;
  padding: 5px 6px;
  color: #fff;
  text-align: center;
  background: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: 600;
}

.border:hover {
  background: #fcd34d;
  color: #000;
}

.btn {
  position: absolute;
  top: 85%;
  padding: 5px 20px;
  font-size: 1rem;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: 600;
}

.btn:hover {
  background: #fcd34d;
  border: 1px solid #fcd34d;
  color: #f43f5e;
}
